/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #141414;
    color: rgb(113, 113, 113);
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
}

.cta {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#portfolio {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
